<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
<h2>Reports</h2>

{% if reports_list %}
    <ul>
      {% for report in reports_list %}
      <li>
        {{ report.created }}: <a href="{% url 'reports_front-detail' report.pk %}">{{ report.file.file }}</a> - {{ report.status }} <form method="post" action="{% url 'reports_front-review-report' report.pk %}">{% csrf_token %}<button type="submit">Review</button></form>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no reports.</p>
  {% endif %}
<form method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <button type="submit">Add file for quality check</button>
</form>

<br>
<h3><a href="{% url 'home' %}">Home</a></h3>

{% endblock %}